**/Library/*
*.csproj
*.vs/
**/Library/metadata/*
QuestIt/.DS_Store
*.sln
**Temp/*
*.sln
*.cache
*.bakert
QuestIt/Temp/UnityLockfile
QuestIt/Temp/UnityTempFile-3d99bae3f91b32247911592d2badc41b
QuestIt/Temp/UnityTempFile-548d98cb900473b41885241e46a4b1de
